<p-dialog [visible]="loadingState.isLoading()" [modal]="true" [closable]="false" header="Loading">
    
    <p>{{loadingState.description()}}</p>
    <p class="text-center font-bold" *ngIf="loadingState.step()">{{loadingState.step()}}</p>
    <p class="text-center font-bold" *ngIf="loadingState.total()">{{loadingState.value()}} / {{ loadingState.total() }}</p>
    <p-progressBar 
        [mode]="loadingState.total() ? 'determinate' : 'indeterminate'" 
        [style]="{ height: '15px' }"
        [value]="loadingState.loadingStateProgress()"
        [showValue]="false">        
    </p-progressBar>
</p-dialog>