@media only screen and  (min-width:1000px){
    ::ng-deep .p-sidebar{
        max-width: 66%;
    }
}

@media only screen and  (min-width:1200px){
    ::ng-deep .p-sidebar{
        max-width: 50%;
    }
}