<app-graph [filter]="filterConfig()" (nodeSelected)="nodeSelected($event)"></app-graph>
<p-sidebar [(visible)]="sidebar" position="right" styleClass="w-auto">
    <app-detail-sidebar [entityId]="selectedNodeId" [entityType]="selectedNodeType"></app-detail-sidebar>
</p-sidebar>