<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/hephaestus.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
                    <span class="text-600 font-medium">Enter a Worldanvil Access Token to continue</span>
                </div>

                <div>
                    <label for="authToken" class="block text-900 font-medium text-xl mb-2">World Anvil Token</label>
                    <div class="field p-fluid mt-4">
                        <p-password id="authToken" 
                            [ngModel]="userStore.token()"
                            (ngModelChange)="userStore.updateToken($event)"
                            [feedback]="false" 
                            placeholder="Auth Token" 
                            [toggleMask]="true" 
                            styleClass="w-full m-3" 
                            inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                        <small id="authtoken-error" class="p-error" *ngIf="errorMessage()">{{errorMessage()}}</small>   
                    </div>
                    
                    
                    <p-button label="Sign In"
                        [loading]="loading()"
                        (onClick)="login()"
                        styleClass="w-full p-3 text-xl" ></p-button>
                    <p class="text-center text-sm font-light mt-3">v{{appVersion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
