<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Articles</h4>
            <p-table
                #articles
                [value]="this.articleList()"
                [paginator]="true"
                [rows]="15"
                [showCurrentPageReport]="true"
                [globalFilterFields]="['title']"
                >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="articles.filterGlobal($event.target.value, 'contains')" placeholder="Search articles" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title" pFrozenColumn >Title <p-sortIcon field="title"></p-sortIcon></th>
                        <th>Type</th>
                        <th pSortableColumn="wordcount"><i class="pi pi-calculator" pTooltip="Wordcount"></i></th>
                        <th pSortableColumn="likes"><i class="pi pi-heart-fill"></i></th>
                        <th pSortableColumn="views"><i class="pi pi-eye"></i></th>
                        <th pSortableColumn="comments"><i class="pi pi-comments"></i></th>
                        <th pSortableColumn="incoming"><i class="pi pi-arrow-down-left" pTooltip="Amount of times this article gets mentioned in your world"></i></th>
                        <th pSortableColumn="outgoing"><i class="pi pi-arrow-up-right" pTooltip="Amount of Articles mentioned in this article"></i></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-article>
                    <tr>
                        <td pFrozenColumn>{{article.title}}</td>
                        <td>{{article.entityClass}}</td>
                        <td>{{article.wordcount}}</td>
                        <td>{{article.likes}}</td>
                        <td>{{article.views}}</td>
                        <td>{{article.comments}}</td>
                        <td>{{article.incoming}}</td>
                        <td>{{article.outgoing}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>