<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Detail Page</h4>
            <app-link *ngFor="let con of this.outgoingConnections()"
                entityType="article"
                [edgeType]="con.type"
                [entityId]="con.node.id"
                [entityLabel]="con.node.title"
                direction="outgoing"
            ></app-link>
            <app-link *ngFor="let con of this.outgoingConnections()"
                entityType="article"
                [edgeType]="con.type"
                [entityId]="con.node.id"
                [entityLabel]="con.node.title"
                direction="incoming"
            ></app-link>
        </div>
    </div>
</div>
