<div [ngSwitch]="entityType()">
    <app-article *ngSwitchCase="0" [articleId]="entityId()"></app-article>
    <ng-template *ngSwitchDefault>
        <b>No display options found for entity type {{entityType()}}</b>
    </ng-template>
</div>