

<div class="grid">
    <div class="col-4">
        <app-dashboard-tile name="Total Likes"
            icon="pi pi-heart-fill"
            iconBackground="red"
            [value]="dataStore.totalLikes() | number"></app-dashboard-tile>        
    </div>
    <div class="col-4">
        <app-dashboard-tile name="Fans"
            icon="pi pi-users"
            iconBackground="green"
            [value]="this.likes().length| number"></app-dashboard-tile>        
    </div>
    <div class="col-4">
        <app-dashboard-tile name="Comments"
            icon="pi pi-comments"
            iconBackground="blue"
            [value]="dataStore.totalComments() | number"></app-dashboard-tile>     
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <h4>Fan Corner</h4>
            <p-table 
                #likeTable
                [value]="this.likes()" 
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [globalFilterFields]="['name']"
                sortField="name">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="likeTable.filterGlobal($event.target.value, 'contains')" placeholder="Search fans" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="likes">Likes <p-sortIcon field="likes"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fan>
                    <tr>
                        <td>{{fan.name}}</td>
                        <td class="text-center">{{fan.likes}}</td>
                    </tr>
                </ng-template>           
            </p-table>
        </div>
    </div>
</div>
