<div class="grid">
    <div class="col-6 lg:col-3 xl:col-2">
        <app-dashboard-tile name="Total Articles"
            icon="pi pi-book"
            iconBackground="green"
            [value]="dataStore.totalArticles() | number"></app-dashboard-tile>
    </div>
    <div class="col-6 lg:col-3 xl:col-2">
        <app-dashboard-tile name="Total Likes"
            icon="pi pi-heart-fill"
            iconBackground="red"
            [value]="dataStore.totalLikes() | number"></app-dashboard-tile>
    </div>
    <div class="col-6 lg:col-3 xl:col-2">
        <app-dashboard-tile name="Comments"
            icon="pi pi-comments"
            iconBackground="blue"
            [value]="dataStore.totalComments() | number"></app-dashboard-tile>
    </div>
    <div class="col-6 lg:col-3 xl:col-2">
        <app-dashboard-tile name="Wordcount"
            icon="pi pi-pencil"
            iconBackground="orange"
            [value]="this.wordCount()| number"></app-dashboard-tile>
    </div>
</div>