<h1>{{this.article().title}}</h1>

<app-link *ngFor="let article of this.outgoingArticles()"
    entityType="article"
    [edgeType]="article.type"
    [entityId]="article.id"
    [entityLabel]="article.article.title"
    direction="outgoing"
></app-link>
<app-link *ngFor="let article of this.incomingArticles()"
    entityType="article"
    [edgeType]="article.type"
    [entityId]="article.id"
    [entityLabel]="article.article.title"
    direction="incoming"
></app-link>

