.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
}
