
<p-dialog [visible]="!worldStore.activeWorld()" [modal]="true" [closable]="false" header="Please select a world">
    
    <app-world-selector></app-world-selector>
</p-dialog>

<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/hephaestus.png" alt="logo">
        <span>Vulcanus</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <app-world-selector></app-world-selector>
        <p-menu #menu [model]="this.items()" [popup]="true"></p-menu>
        <p-avatar [label]="this.userStore.user().profile ? null : this.userStore.user().username[0]" 
            [image]="this.userStore.user().profile" styleClass="ml-2" size="large" shape="circle"
            (click)="menu.toggle($event)"
            ></p-avatar>
        
    </div>    
</div>