<div class="layout-footer">
    <span>Vulcanus by <span class="font-medium">Satrium (v{{appVersion}})</span></span>  
    <a class="font-medium" href="https://www.flaticon.com/free-icons/hephaestus" title="hephaestus icons">Hephaestus icons created by max.icons - Flaticon</a>
</div>
