<p-card class="flex-1">
    <div class="flex justify-content-between gap-5">
        <div class="flex flex-column gap-1">
            <span class="text-secondary text-sm">{{ name }}</span>
            <span class="font-bold text-lg">{{ value }}</span>
        </div>
        <span class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center" 
            [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
            [style.background-color]="iconBackground">
            <i [class]="icon" [style.color]="iconColor"></i>
        </span>
    </div>
</p-card>