/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";


@media screen and (min-width: 1960px){
    .layout-main, .landing-wrapper {
        width: unset;
        margin-left: unset !important;
        margin-right: unset !important;
    }
}
