<p-chip styleClass="pl-0 pr-3 m-1">
    <span class="border-round px-3 flex align-items-center justify-content-center"
        [style.background-color]="backgroundColor()"
        [style.color]="color()"
        >{{label()}}</span>
    <span class="ml-2 font-medium">{{this.entityLabel()}}</span>
</p-chip>