<div class="wrapper">
    <p-autoComplete id="searchfield" [(ngModel)]="selectedItem" 
        (ngModelChange)="refresh()"
        [suggestions]="suggestions" 
        (completeMethod)="search($event)"
        [forceSelection]="true"
        placeholder="Search Graph"
        field="title"></p-autoComplete>
    <div #graph></div>
</div>