<p-dropdown placeholder="Select a world" 
    appendTo="body"
    optionLabel="title"
    optionValue="id"
    [options]="filteredOptions()" 
    (onChange)="worldStore.setActiveWorld($event.value)" 
    [ngModel]="worldStore.activeWorldId()"
    [filter]="true"
    filterBy="title">
    <ng-template pTemplate="filter">
        <p-inputGroup>
            <input type="text" [(ngModel)]="filterValue" (keyup)="filter.set(filterValue)" pInputText placeholder="Search">
            <button pButton icon="pi pi-refresh" (click)="worldStore.load()" ></button>
        </p-inputGroup>        
    </ng-template>
</p-dropdown>